<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
        <!-- Add more navigation links as needed -->
    </ul>
</nav>
