{{ navbar}}

<h2>Login</h2>

<!-- Login form -->
<form action="/auth/login" method="POST">
    <!-- Input fields for username and password -->
    <input type="text" name="username" placeholder="Username"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Login</button>
</form>

{{footer}}
