{{navbar}}

<h2>Signup</h2>

<!-- Signup form -->
<form action="/auth/signup" method="POST">
    <!-- Input fields for username, email, and password -->
    <input type="text" name="username" placeholder="Username"><br>
    <input type="email" name="email" placeholder="Email"><br>
    <input type="password" name="password" placeholder="Password"><br>
    <button type="submit">Signup</button>
</form>

{{footer}}
